{%- liquid
  assign author_name_display = author_profile.name.value | default: author_profile.name
  assign author_degree = author_profile.degree.value | default: author_profile.degree | default: author_profile.qualifications_abbreviation.value | default: author_profile.qualifications_abbreviation
  assign author_qual = author_profile.qualifications.value | default: author_profile.qualifications | default: author_profile.designation.value | default: author_profile.designation
  assign author_role = 'WRITTEN BY'
  assign author_photo = author_profile.photo.value | default: author_profile.image.value | default: author_profile.profile_photo.value | default: author_profile.avatar.value | default: author_profile.picture.value | default: author_profile.photo | default: author_profile.image
  
  assign reviewer_name_display = reviewer_profile.name.value | default: reviewer_profile.name
  assign reviewer_degree = reviewer_profile.degree.value | default: reviewer_profile.degree | default: reviewer_profile.qualifications_abbreviation.value | default: reviewer_profile.qualifications_abbreviation
  assign reviewer_qual = reviewer_profile.qualifications.value | default: reviewer_profile.qualifications | default: reviewer_profile.designation.value | default: reviewer_profile.designation
  assign reviewer_role = 'REVIEWED BY'
  assign reviewer_photo = reviewer_profile.photo.value | default: reviewer_profile.image.value | default: reviewer_profile.profile_photo.value | default: reviewer_profile.avatar.value | default: reviewer_profile.picture.value | default: reviewer_profile.photo | default: reviewer_profile.image
-%}

<div class="ka-article-author-reviewer-card" id="author-reviewer-card">
  
  {%- comment -%} Written by Card {%- endcomment -%}
  {%- if author_name_display != blank -%}
    <div class="ka-article-card-state ka-article-card-state--author">
      <div class="ka-article-author-card">
        <p class="ka-blog-eyebrow">{{ author_role }}</p>
        <div class="ka-article-author-bio-row">
          {%- if author_photo != blank -%}
            <div class="ka-article-avatar" aria-hidden="true">
              <img
                src="{{ author_photo | image_url: width: 320 }}"
                alt="{{ author_name_display | escape }}"
                loading="lazy"
                width="160"
                height="160"
              >
              <span class="ka-avatar-hover-overlay">Read bio &rarr;</span>
            </div>
          {%- endif -%}
          <div class="ka-article-author-content">
            <h2 class="ka-author-name-row">
              {{ author_name_display }}
              {%- if author_degree != blank -%}
                <span class="ka-author-degree">({{ author_degree }})</span>
              {%- endif -%}
            </h2>
            {%- if author_qual != blank -%}
              <p class="ka-author-qual-row">{{ author_qual }}</p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- comment -%} Reviewed by Card {%- endcomment -%}
  {%- if reviewer_name_display != blank -%}
    <div class="ka-article-card-state ka-article-card-state--reviewer">
      <div class="ka-article-author-card">
        <p class="ka-blog-eyebrow">{{ reviewer_role }}</p>
        <div class="ka-article-author-bio-row">
          {%- if reviewer_photo != blank -%}
            <div class="ka-article-avatar" aria-hidden="true">
              <img
                src="{{ reviewer_photo | image_url: width: 320 }}"
                alt="{{ reviewer_name_display | escape }}"
                loading="lazy"
                width="160"
                height="160"
              >
              <span class="ka-avatar-hover-overlay">Read bio &rarr;</span>
            </div>
          {%- endif -%}
          <div class="ka-article-author-content">
            <h2 class="ka-author-name-row">
              {{ reviewer_name_display }}
              {%- if reviewer_degree != blank -%}
                <span class="ka-author-degree">({{ reviewer_degree }})</span>
              {%- endif -%}
            </h2>
            {%- if reviewer_qual != blank -%}
              <p class="ka-author-qual-row">{{ reviewer_qual }}</p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  <div style="display:none;" id="ka-author-reviewer-debug">
    Author:
    {%- for field in author_profile.fields -%}
      [{{ field.key }} = {{ field.value }} (type: {{ field.type }})]
    {%- endfor -%}
    Reviewer:
    {%- for field in reviewer_profile.fields -%}
      [{{ field.key }} = {{ field.value }} (type: {{ field.type }})]
    {%- endfor -%}
  </div>

</div>
